exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.off", "png")
importFrom("stats", "pchisq", "pnorm", "qnorm", "setNames")
importFrom("utils", "head", "write.table", "globalVariables")
importFrom("data.table","data.table","fread","fwrite","setDT",":=")
import("dplyr")
import("ggplot2")
import("pROC")
importFrom(Rcpp,evalCpp)
useDynLib(OAPRS)
